@mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

//for responsiveness
@mixin respond($breakpoint) {
    @if $breakpoint==tab-landscape {
        @media (max-width: 1024px) {
            @content
        }
    }
    @if $breakpoint==tab-port {
        @media (max-width: 768px) {
            @content
        }
    }
    @if $breakpoint==mobile {
        @media (max-width: 768px) {
            @content
        }
    }
}