.menu {
    margin-top: 20%;
    text-align: center;
    &-user-tool {
        @include respond(tab-port) {
            display: none;
        }
        @include respond(tab-land) {
            display: none;
        }
        @include respond(desktop) {
            display: none;
        }
        margin-top: 6rem;
        height: 120px;
        width: 100%;
        border: 1px solid $color-white;
        background-color: $color-primary;
        .border {
            border-right: 1px solid $color-white !important;
            @include respond(small-mobile) {
                margin-top: -68px;
            }
        }
        &-item {
            margin-left: -4px;
            margin-top: -70px;
            height: 120px;
            width: 100px;
            position: relative;
            @include respond(small-mobile) {
                margin-left: -14px;
            }
            .active {
                margin-left: 20px !important;
            }
            &-icon img {
                position: absolute;
                margin-top: 40px;
                margin-left: -20px;
            }
            .trial-heart-menu {
                @include respond(small-mobile) {
                    margin-top: 7px;
                }
            }
            &-text {
                position: absolute;
                margin-top: 80px;
                margin-left: 28px;
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 300;
                line-height: 16px;
                color: #e2e2e2;
                font-family: "Open Sans";
            }
        }
        &-item-bag-notification {
            margin-top: 55px;
            position: absolute;
            margin-left: 40px;
            border: 1px solid $color-secondary;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            text-align: center;
            background: $color-secondary;
            color: black;
            font-size: 10px;
            font-weight: 300;
        }
    }
    &-links {
        a {
            &:link,
            &:visited {
                color: $color-white;
                @include respond(desktop) {
                    color: black;
                }
            }
            text-decoration: none;
            font-size: 14px;
            line-height: 12px;
            @include respond(desktop) {
                font-size: 12px;
            }
        }
        position: absolute;
        top: 73%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 400;
        @include respond(tab-port) {
            top: 65%;
            font-size: 14px;
        }
        @include respond(tab-land) {
            top: 65%;
            font-size: 14px;
        }
        @include respond(desktop) {
            position: fixed;
            top: 74%; //62%;
            left: 40px;
            margin-left: 0;
            text-align: left;
            font-size: 12px;
            transform: translateX(0);
        }
        .language-english {
            color: grey;
        }
        .store-locator {
            color: $color-white;
            display: block;
            @include respond(desktop) {
                color: black;
                font-size: 12px;
                line-height: 12px;
            }
        }
        .arrow-icon {
            margin-left: 5px;
        }
    }
}

.newsletter {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    margin-right: 20%;
    text-align: center;
    @include respond(tab-port) {
        top: 75%;
    }
    @include respond(tab-land) {
        top: 75%;
    }
    @include respond(desktop) {
        position: fixed;
        top: 83%; //75%;
        left: 40px;
        margin: 0;
        text-align: left;
        font-size: 14px;
        transform: translateX(0);
    }
    a {
        @include respond(tab-port) {
            display: block;
            margin-bottom: 10px;
        }
        @include respond(tab-land) {
            display: block;
            margin-bottom: 10px;
        }
        @include respond(desktop) {
            display: block;
            margin-bottom: 10px;
        }
    }
    &-text {
        font-size: 12px;
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase;
        color: $color-white;
        @include respond(tab-port) {
            font-size: 14px;
        }
        @include respond(tab-land) {
            font-size: 14px;
        }
        @include respond(desktop) {
            color: black;
            line-height: 12px;
            font-size: 12px;
        }
    }
    input[type=text] {
        border: 1px solid $color-white;
        background: transparent;
        padding: 6px;
        color: white;
        @include respond(desktop) {
            border: 1px solid #CCCCCC;
            color: #CCCCCC;
            width: 88%;
        }
    }
    .arrow {
        border: 1px solid $color-white;
        font-size: 22px;
        line-height: 28px;
        top: 9.5px;
        display: inline-block;
        @include respond(tab-port) {
            border: 0px solid #CCCCCC;
            top: 16.5px;
            height: 29px;
        }
        @include respond(tab-land) {
            border: 0px solid #CCCCCC;
            top: 16.5px;
            height: 29px;
        }
        @include respond(mobile) {
            border: 0px solid #CCCCCC;
            top: 10px;
            height: 29px;
        }
        @include respond(desktop) {
            top: 22px;
            left: 154px;
            background-color: #CCCCCC;
            border: 1px solid #CCCCCC;
            color: white;
            height: 29px;
            width: 29px;
        }
        position: absolute;
        background-color:#CCCCCC;
        color: black;
    }
    .trial {
        @include respond(desktop) {
            position: absolute;
            left: -1px;
            top: -1px;
        }
    }
}

.social {
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translateX(-50%);
    @include respond(tab-port) {
        top: 90%;
    }
    @include respond(tab-land) {
        top: 90%;
        left: 50%;
        transform: translateX(-50%);
    }
    @include respond(desktop) {
        top: 93%; //90%;
        left: 40px;
        margin: 0;
        transform: translate(0);
    }
    &-icon-list {
        list-style: none;
        &-item {
            display: inline-block;
        }
    }
}