.slider {
    height: 64rem;
    width: 100%;
    background-color: $color-primary;
    position: relative;
    @include respond(tab-land) {
        display: none;
    }
    @include respond(desktop) {
        display: none;
    }
    @include respond(tab-port) {
        height: 100vh;
    }
    @include respond(mobile) {
        height: 100vh;
    }
    &-text-area {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 999;
        @include respond(tab-port) {
            left: 48%;
        }
        &-tab-port-text {
            display: none;
            @include respond(tab-port) {
                display: block;
                color: $color-white;
                text-transform: uppercase;
                font-size: 16px;
                margin-bottom: 20px;
                margin-left: 10%;
                z-index: 999;
            }
        }
        &-text {
            font-size: 32px;
            font-style: normal;
            font-weight: normal;
            text-transform: uppercase;
            color: $color-white;
            line-height: 37px;
            margin-bottom: 30px;
            @include respond(tab-port) {
                font-size: 32px;
                font-style: normal;
                font-weight: normal;
                width: 111%;
                margin-bottom: 10px;
                line-height: 37px;
            }
        }
    }
    &-btn {
        text-transform: uppercase;
        color: $color-white;
        font-size: 12px;
        font-weight: 400;
        padding: 4px 12px;
        @include respond(tab-port) {
            margin-left: 10%;
        }
    }
    &-indicators {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &-list {
            &-all {
                position: absolute;
                bottom: 20%;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
            
            }
        }
    }
    &-icon-arrow-down {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translateX(-50%);
    }
}
/*
.indicator {
    border: 1px solid $color-white;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    &:not(:first-child) {
        margin-bottom: 10px;
        background-color: $color-white;
    }
    margin-right: 8px;
    @include respond(tab-port) {
        margin-right: 12px;
    }
    &-active {
        width: 15px;
        height: 15px;
        margin-bottom: 10px;
    }
}
*/
.slides{
    width: 500%;
    height: 100%;
    display: flex;
    
    &-img{
        width: 20%;
        transition: 0.6s;

        &-container{
            &-1{
                width: 100%;
                height: 100%;
                background-color: $color-primary;
            }
            &-2{
                width: 100%;
                height: 100%;
                background-color: black
            }
            &-3{
                width: 100%;
                height: 100%;
                background-color: grey;
            }
            &-4{
                width: 100%;
                height: 100%;
                background-color: $color-secondary;
            }
            &-5{
                width: 100%;
                height: 100%;
                background-color: #ac75;
            }
        }
    }
}

.indicator{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: $color-white;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}
.indicator:hover{
    background-color: #fff;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -20%;
}

#r3:checked ~ .s1 {
    margin-left: -40%;
}

#r4:checked ~ .s1 {
    margin-left: -60%;
}

#r5:checked ~ .s1 {
    margin-left: -80%;
}

