.btn{
    text-decoration: none;
    border: 1px solid $color-white;
}
.grid-image-btn{
    text-transform: uppercase;
    color: $color-white;
    font-size: 12px;
    font-weight: 400;
    padding: 4px 12px;

}
.big-image-btn{
    margin-left: 40%;

}
.aside-1-btn{
    margin-left: 15%;

}
.aside-2-btn{
    float: right;
    margin-right: 15%;

}