.header {
    height: 6rem;
    width: 100%;
    margin-top: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    top: -25px;
    background: $color-primary;
    position: fixed;
    z-index: 100;

    @include respond(desktop) {
        margin: 0;
        padding: 0;
        height: 0;
    }

    ul {

        list-style: none;

        @include respond(tab-port) {
            float: right;
        }

        @include respond(tab-land) {
            float: right;
        }
    }

    li {

        display: inline-block;

        &:not(:last-child) {
            margin-right: 20px;

            @include respond(tab-land) {
                margin-right: 0;
            }
        }
    }

    .logo {
        
        @include respond(tab-port) {
            position: fixed !important;
            left: 60px !important;
            top: 25px !important;
        }

        @include respond(tab-land) {
            position: fixed !important;
            left: 75px !important;
            top: 25px !important;
        }

        @include respond(desktop) {
            position: fixed !important;
            left: 40px !important;
            top: 22px !important;
        }

        img {
            margin-bottom: 5px !important;
        }
    }

    &-search {
        margin-left: 5.4rem;

        @include respond(tab-land) {
            margin-left: 0;
            position: fixed;
            right: 15%;
            top: 1.7%;
        }

        @include respond(desktop) {
            display: none !important;
        }

        img {
            width: 30px;
            height: 30px;
        }

    }

    &-user-tool {
        margin-right: 0 !important;

        &-heart {
            margin-left: 20px !important;

            @include respond(tab-port) {
                margin-left: -15% !important;
            }

            @include respond(tab-land) {
                position: fixed;
                right: 12%;
                top: 2%;
                margin-left: 0 !important;
            }

            @include respond(desktop) {
                display: none !important;
            }

            img {
                margin-bottom: 3px;
            }
        }

        &-notification {
            position: absolute;
            margin-top: 8px;
            margin-left: -5px;

            @include respond(desktop) {
                display: none !important;
            }

            &-text {
                font-size: 10px;

                font-weight: 300;
                color: $color-white;

                @include respond(tab-port) {
                    font-size: 12px;
                }

                @include respond(tab-land) {
                    font-size: 12px;
                    position: fixed;
                    right: 7%;
                    top: 2.5%;
                }
            }
        }

        &-bag {

            @include respond(desktop) {
                display: none !important;
            }

            @include respond(tab-land) {
                position: fixed;
                right: 9%;
                top: 2%;
            }

            img {
                margin-bottom: 3px;
            }
        }

    }

}

.sticky .header {
    background-color: white;

    .header-user-tool-notification-text {
        color: black;
    }
}